@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
    margin: 0%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#left {
    display: flex;
    width: 42.43%;
    height: 100%;
    background-color: #0F70DA;
}

#left > p {
    display: flex;
    width: 68.05%;
    height: 8.83%;
    margin-top: 6.68%;
    margin-left: 15.97%;
    color: white;
    font: normal 600 1.2em 'Poppins', sans-serif;
    text-align: center;
}

#retangle {
    display: flex;
    width: 57.57%;
    height: 100%;
    background-color: white;
}

#right {
    display: flex;
    flex-direction: column;
    width: 67.69%;
    height: 90.02%;
    margin-top: 5.63%;
    margin-left: 14.66%;
    background-color: bisque;
}

#logo {
    display: flex;
    width: 15.35%;
    height: 5.51%;
}

#logo > img {
    display: flex;
    width: 36.42%;
    height: 100%;
}

#logo > h1 {
    display: flex;
    width: 63.58%;
    height: 100%;
    margin: 0%;
    padding-left: 5px;
    align-items: center;
    color: black;
    font: 600 12px 'Poppins', sans-serif;
}

#text {
    display: flex;
    flex-direction: column;
    width: 29.37%;
    height: 7.05%;
    margin-top: 7.08%;
}

#text > h1 {
    display: flex;
    width: 100%;
    height: 58%;
    margin: 0%;
    color: black;
    font: 600 1.2em 'Poppins', sans-serif;
}

#text > p {
    display: flex;
    width: 95.19%;
    height: 41.23%;
    margin: 0%;
    padding-top: 10px;
    color: black;
    font: 400 0.58em 'Poppins', sans-serif;
}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 44.28%;
    margin: 0%;
    margin-top: 6.44%;
    background-color: lightgreen;
}

#checkbox-group {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

#get-the-app {
    display: flex;
    width: 37.7%;
    height: 4.64%;
    background-color: blueviolet;
}