@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0px;
}
div#left {
    height: 675.96px;
    width: 574.36px;
    left: 129px;
    top: 174px;
    background-color: #0F70DA;
}

div#left > p {
    margin: 0px;
    padding: 45.16px 91.76px 570.8px 91.76px;
    font: 600 19.76px 'Poppins', sans-serif;
    color: white;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
}