@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
    margin: 0%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.left {
    display: flex;
    width: 42.43%;
    height: 100%;
    background-color: #0F70DA;
}

.retangulo {
    display: flex;
    width: 57.57%;
    height: 100%;
    background-color: white;
}

.right {
    display: flex;
    width: 67.69%;
    height: 90.02%;
    margin-left: 14.66%;
    margin-top: 5.63%;
    background-color: bisque;
}

.logo {
    display: flex;
    width: 10.39%;
    height: 90.02%;
}

.imglogo {
    display: flex;
    width: 4.79%;
    height: 5.01%;
}

.logo > h1 {
    color: black;
    font: 600 12px 'Poppins', sans-serif;
    padding: 5px;
}